body{
    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
}

.navbar{
   background-color: rgba(0, 0, 0, 0.322);
}

.success{
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav{
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
}
.intro1{
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
}

.nav-link{
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}


.nav-link:hover{
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.teaching:hover.card{
    transform: scale(1.1);
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    color: white;
}

.innovation:hover.card{
    transform: scale(1.1);
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    color: white;
}

.students:hover.card{
    transform: scale(1.1);
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    color: white;
}

.resources:hover.card{
    transform: scale(1.1);
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    color: white;
}

 .contact{
    background-image: url(photo/contact1-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.final-image img{
    border-radius: 50px;
}

.footer{
    background-color:aliceblue;
    
}